@import "tailwindcss";

body {
    background-color: #242c23;
}

html, body, #root {
  height: 100%;
}


@keyframes loading {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(250%);
  }
}

.animate-loading {
  animation: loading 1.2s ease-in-out infinite;
}

@keyframes toast-in {
  from {
    transform: translateY(8px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-toast-in {
  animation: toast-in 0.2s ease-out;
}